<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<html th:fragment="left_menu" >
    <aside class="lyear-layout-sidebar">
        <!-- logo引入 -->
        <div id="logo" class="sidebar-header">
            <a href="index.html"><img src="/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
        </div>
        <div class="lyear-layout-sidebar-scroll">
            <input type="hidden" name="currentPageMenuName" th:value="${pageMenuName}" >
            <nav class="sidebar-main">
                <ul class="nav nav-drawer">
                    <li class="nav-item" id="homePage"> <a href="/" ><i class="mdi mdi-home"></i> 首页</a> </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"><i class="mdi mdi-widgets"></i>基础数据</a>
                        <ul class="nav nav-subnav">
                            <li id="warehouseListPage" > <a href="lyear_ui_buttons.html" th:href="@{/warehouse/list}"><i class="mdi mdi-database"></i>仓库管理</a> </li>
                            <li id="storeListPage"> <a href="lyear_ui_buttons.html" th:href="@{/store/list}"><i class="mdi mdi-basket"></i>店铺管理</a> </li>
                            <li id="brandListPage"> <a href="lyear_ui_buttons.html" th:href="@{/brand/list}"><i class="mdi mdi-font-awesome"></i>品牌管理</a> </li>
                            <!--<li> <a href="lyear_ui_cards.html">卡片</a> </li>-->
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> 品牌管理</a>
                        <ul class="nav nav-subnav">
                            <li> <a href="lyear_forms_elements.html">查询列表</a> </li>
                        </ul>
                    </li><!--active open-->
                    <li class="nav-item nav-item-has-subnav ">
                        <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 商品管理</a>
                        <ul class="nav nav-subnav">
                            <li id="productListPage"> <a href="lyear_pages_doc.html" th:href="@{/product/list}">商品列表</a> </li>
                            <li id="addProductPage"> <a href="lyear_pages_gallery.html" th:href="@{/product/edit}">商品录入</a> </li>
                            <li id="transferProductPage"> <a href="lyear_pages_gallery.html" th:href="@{/product/transfer}">商品调拨</a> </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"><i class="mdi mdi-language-javascript"></i> 销售商品</a>
                        <ul class="nav nav-subnav">
                            <li> <a href="lyear_js_datepicker.html">销售记录</a> </li>
                            <li> <a href="lyear_js_sliders.html">销售添加</a> </li>
                        </ul>
                    </li>
                </ul>
            </nav>

           <!-- <div class="sidebar-footer">
                <p class="copyright">Copyright &copy; 2019. <a target="_blank" href="http://localhost">毅之泉</a> All rights reserved.</p>
            </div>-->
        </div>

    </aside>
</html>
</html>