<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<!--<div th:replace="common/header :: myfooter"  ></div>-->
<div th:replace="common/header :: common_header"  ></div>
<body>

<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <html th:replace="common/menu :: left_menu" ></html>
        <!--End 左侧导航-->

        <!--头部信息-->
        <html th:replace="common/header :: common_header_info" ></html>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <form class="form-horizontal">
                                    <input type="hidden" id="productId" name="productId">
                                    <div class="form-group">
                                        <label for="productCode" class="col-sm-2 control-label">商品货号</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="productCode" id="productCode" placeholder="请输入商品货号" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="productName" class="col-sm-2 control-label">商品名称</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="productName" name="productName" placeholder="请输入商品名称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label">品牌</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="brandCode" name="brandCode">
                                                <option value="">---请选择---</option>
                                                <option th:each="brand : ${brandList}" th:value="${brand.id}" th:text="${brand.brandNameCn
                                                }"></option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="marketPrice" class="col-sm-2 control-label">吊牌价</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="marketPrice" name="marketPrice" placeholder="请输入吊牌价">
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label for="salePrice" class="col-sm-2 control-label">销售价</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="salePrice" placeholder="请输入销售价">
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <label for="timeToMarket" class="col-sm-2 control-label">上市时间</label>
                                        <div class="col-sm-4 ">
                                            <input class="form-control js-datepicker m-b-10 readonly" type="text" id="timeToMarket" name="timeToMarket" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd" />
                                        </div>
                                    </div>
<!--                                    <div class="form-group">
                                        <label for="purchaseTime" class="col-sm-2 control-label">进货时间</label>
                                        <div class="col-sm-4 ">
                                            <input class="form-control js-datepicker m-b-10 readonly" type="text" id="purchaseTime" name="timeToMarket" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd" />
                                        </div>
                                    </div>-->
                                </form>

                            </div>
                            <div class="toolbar-btn-action">
                                <a class="btn btn-primary m-r-5"  id="addProduct" href="javascript:void(0) "><i class="mdi mdi-plus" ></i> 录入商品数量</a>
                                <a class="btn btn-primary m-r-5"  id="reviseProduct" href="javascript:void(0) "><i class="mdi mdi-plus" ></i>解锁修改主信息</a>
                                <!--<a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>
                                <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>-->
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>颜色</th>
                                            <th>尺码</th>
                                            <th>进货时间</th>
                                            <th>数量</th>
                                           <!-- <th>开仓时间</th>
                                            <th>创建时间</th>
                                            <th>备注</th>-->
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="productSpecTable">

                                        </tbody>
                                    </table>

                                </div>
                                <div style="align-content: center">
                                    <a class="btn btn-success" id="addNextProduct" style="margin-left: 45%;" href="javascript:void(0); "><i class="mdi mdi-check"></i> 录入新商品</a>
                                </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
        <!--Start 新增/编辑弹窗-->
        <html th:replace="product/product_spec_edit :: common" ></html>
        <!--Start 新增/编辑弹窗-->
    </div>
</div>
<html th:replace="common/footer :: common_footer"  ></html>
<!--日期选择插件-->
<script src="/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript">
    $(function(){
       // loadPageList();

    });

    //检测商品是否已经录入过
    $("input[name='productCode']").blur(function(){
        //调用接口
        let productCode=$(this).val();
        $.ajax({
            type: "GET",
            url: "/product/findProductByCode?productCode="+productCode,
            dataType:"json",
            success: function(data){
                let productData=data.data;
               if(null!=productData){
                   //回显数据
                   feedbackProduct(productData);
               }
            },
            error:function(){

            }
        })
    });

    /**
     * 数据反馈
     */
    function feedbackProduct(product){
        //回显主数据
        $("input[name='productId']").val(product.id);
        $("input[name='productCode']").val(product.productCode);
        $("input[name='productName']").val(product.productName);
        $("input[name='marketPrice']").val(product.marketPrice);
        $("input[name='timeToMarket']").val(product.timeToMarket);
        $("#brandCode option[value='"+product.brandId+"']").attr("selected","selected");
        fillSpecProductData(product);
    }

    /**
     * 回填商品详情表中的数据
     */
    function fillSpecProductData(product){
        if(null!=product.productSpecList
            && product.productSpecList.length>0){
            let tableHtml="";
            $.each(product.productSpecList,function(i,data){
                tableHtml+="<tr>" +
                    "<th>"+data.color+"</th>" +
                    "<th>"+data.size+"</th>" +
                    "<th>"+data.purchaseTime+"</th>" +
                    "<th>"+data.quantity+"</th>" +
                    "<th>操作</th>" +
                    "</tr>"
            });
            $("#productSpecTable").empty().append(tableHtml);
        }

    }

    $("#addProduct").click(function () {
        // Step1 校验参数不为空
        $("#productEditLabel").text("录入商品");
        $('#productEdit').modal();
        //如果新增商品，保存商品主信息
        let productId=$("input[name='productId']").val();
        if(productId===null||productId===""){
            saveMainProduct();
        }
        // Last 将文本框禁用
        disableInput(true);
    });

    $("#addNextProduct").click(function(){
        layer.confirm('您确定刷新录入新的商品吗？', {
            btn: ['确定','取消'], //按钮
            title: '提示'
        }, function(){
            window.location.href ="/product/edit";
        }, function(){

        });

    });

    $("#reviseProduct").click(function(){
        disableInput(false);
    })

    /**
     * 禁用文本框输入
     */
    function disableInput(isOpen){
        //disabled
        $("input[name='productCode']").attr("disabled",isOpen);
        $("input[name='productName']").attr("disabled",isOpen);
        $("input[name='marketPrice']").attr("disabled",isOpen);
        $("input[name='timeToMarket']").attr("disabled",isOpen);
        $("#brandCode").attr("disabled",isOpen);
    }

    /**
     * 保存主体信息
     */
    function saveMainProduct(){
        let productCode=$("input[name='productCode']").val();
        let productName=$("input[name='productName']").val();
        let marketPrice=$("input[name='marketPrice']").val();
        let timeToMarket=$("input[name='timeToMarket']").val();
        let brandCode=$("#brandCode").val();
        let mainProduct={
            "productCode": productCode,
            "productName": productName,
            "marketPrice": marketPrice,
            "timeToMarket": timeToMarket,
            "brandId": brandCode
        }

        $.ajax({
            type: "POST",
            url: "/product/saveMainProduct",
            data: mainProduct,
            dataType:"json",
            success:function(data){
                let productData=data.data;
                $("input[name='productId']").val(productData.id);
            }
        });
    }

    /**
     * 保存商品录入信息
     */
    $("#saveProductSpec").click(function(){
        let productId=$("input[name='productId']").val();
        let productColor=$("input[name='productColor']").val();
        let productSize=$("#productSizeSelect").val();
        let quantity=$("input[name='quantity']").val();
        let purchaseTime=$("input[name='purchaseTime']").val();
        let specData={
            "productId": productId,
            "color": productColor,
            "size": productSize,
            "quantity": quantity,
            "purchaseTime": purchaseTime
        }
        $.ajax({
            type: "POST",
            url: "/product/saveProductSpec",
            data: specData,
            dataType:"json",
            success:function(data){
                let productSpecData=data.data;
                let tableHtml="<tr specId='"+productSpecData.id+"'>" +
                    "<th>"+productSpecData.color+"</th>" +
                    "<th>"+productSpecData.size+"</th>" +
                    "<th>"+productSpecData.purchaseTime+"</th>" +
                    "<th>"+productSpecData.quantity+"</th>" +
                    "<th>操作</th>" +
                    "</tr>";
                $("#productSpecTable").append(tableHtml);
                $("#productEdit").modal("hide");
            }
        });
    });

    $("#saveStore").click(function () {
        $(this).attr("disabled","disabled");
        saveStore();
        $(this).removeAttr("disabled");
    });

    function saveStore(){
        let brandNameCn=$("input[name='brandNameCn']").val();
        let brandNameEn=$("input[name='brandNameEn']").val();
        let brandCode=$("input[name='brandCode']").val();
        let type=$("input[name='type']").val();

        if(typeof brandNameCn=='undefined' || brandNameCn==null|| brandNameCn==""){

        }
        if(typeof brandCode=='undefined' || brandCode==null || brandCode){

        }
        let brandReq={
            "brandNameCn": brandNameCn,
            "brandNameEn": brandNameEn,
            "brandCode": brandCode,
            "type": type
        }

        $.ajax({
            type: "POST",
            url: "/brand/saveBrand",
            data: brandReq,
            dataType:"json",
            success: function(msg){
                $("#brandEdit").modal("hide");
                layer.msg('保存成功', {
                    offset: 't',
                    anim: 5,
                    icon:1,
                    time: 2000
                });
                loadPageList();
            },
            error:function(){

            }
        })
    }

    function loadPageList(){
        let pageNum=$("input[name='pageNum']").val();
        let pageSize=$("input[name='pageSize']").val();
        $.ajax({
            type: "GET",
            url: "/brand/findList",
            data: "pageNum="+pageNum+"&pageSize="+pageSize,
            dataType:"json",
            success: function(msg){
                fillDataToTable(msg.data);
                loadPage(msg.pageNum,msg.totalPage);
                console.info(msg)
            },
            error:function(){

            }
        })
    }

    function fillDataToTable(brandList){
        if(brandList!=null&&brandList.length>0){
            let tableHtml="";
            $.each(brandList,function (index,item) {
                tableHtml+="<tr>"
                    +"<td>"+(index+1)+"</td>"
                    +"<td>"+item.brandNameCn+"</td>"
                    +"<td>"+item.brandNameEn+"</td>"
                    +"<td>"+item.brandCode+"</td>"
                    +"<td>"+item.type+"</td>"
                    +"<td>"+item.createTime+"</td>"
                    +"<td><div class=\"btn-group\">" +
                    " <a class=\"btn btn-xs btn-default\" href=\"#!\" title=\"编辑\" data-toggle=\"tooltip\"><i class=\"mdi mdi-pencil\"></i></a>" +
                    "<a class=\"btn btn-xs btn-default\" href=\"#!\" title=\"删除\" data-toggle=\"tooltip\"><i class=\"mdi mdi-window-close\"></i></a>" +
                    "</div></td>";
            })
            $("#brandTable").empty().append(tableHtml);
        }
    }

    function loadPage(currentPage,total){
        $('#pageLimit').bootstrapPaginator({
            currentPage: currentPage,
            totalPages: total,
            size:"normal",
            bootstrapMajorVersion: 3,
            alignment:"right",
            numberOfPages:6,
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            onPageClicked: function(event, originalEvent, type, page){
                $("input[name='pageNum']").val(page);
                loadPageList();
            }

        });
    }






</script>
</body>
</html>