HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files

out
gen
!/.idea/
src/main/java/com/yizhiquan/stockadmin/stockadmin/dao/ProductSpecMapper.java
src/main/java/com/yizhiquan/stockadmin/stockadmin/domain/ProductSpec.java
src/main/resources/mapper/ProductSpecMapper.xml
