<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<!--<div th:replace="common/header :: myfooter"  ></div>-->
<div th:replace="common/header :: common_header"  ></div>
<body>

<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <html th:replace="common/menu :: left_menu" ></html>
        <!--End 左侧导航-->

        <!--头部信息-->
        <html th:replace="common/header :: common_header_info" ></html>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <form class="pull-right search-bar" method="get" action="#!" role="form">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <input type="hidden" name="search_field" id="search-field" value="title">
                                            <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                                                标题 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">标题</a> </li>
                                                <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name">栏目</a> </li>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                                    </div>
                                </form>
                                <div class="toolbar-btn-action">
                                    <a class="btn btn-primary m-r-5"  id="addSalesProduct" href="javascript:void(0) "><i class="mdi mdi-plus" ></i> 新增</a>
                                    <!--<a class="btn btn-success m-r-5" href="#!"><i class="mdi mdi-check"></i> 启用</a>
                                    <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>
                                    <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>-->
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>商品货号</th>
                                            <th>商品名称</th>
                                            <th>颜色</th>
                                            <th>尺寸</th>
                                            <th>件数</th>
                                            <th>销售总价</th>
                                            <th>销售员</th>
                                            <th>销售店铺</th>
                                            <th>销售时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="brandTable">

                                        </tbody>
                                    </table>
                                </div>
                                <input type="hidden" name="pageNum" value="1" >
                                <input type="hidden" name="pageSize" value="10">
                                <div id="Paginator" style="text-align: center"> <ul id="pageLimit"></ul> </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
        <!--Start 新增/编辑弹窗-->
        <html th:replace="sale/sale_edit :: common" ></html>
        <!--Start 新增/编辑弹窗-->
    </div>
</div>
<html th:replace="common/footer :: common_footer"  ></html>
<!--日期选择插件-->
<script src="/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript">
    $(function(){
        loadPageList();
    });

    $("#addSalesProduct").click(function () {
        $("#saleProductEditLabel").text("录入销售信息");
        $('#saleProductEdit').modal();
    });

    $("#saveSaleProduct").click(function () {
        $(this).attr("disabled","disabled");
        saveStore();
        $(this).removeAttr("disabled");
    });

    //检测商品是否已经录入过
    $("input[name='productCode']").blur(function(){
        //调用接口
        let productCode=$(this).val();
        $.ajax({
            type: "GET",
            url: "/product/findProductByCode?productCode="+productCode,
            dataType:"json",
            success: function(data){
                let productData=data.data;
                if(null!=productData){
                    //回显数据
                    //feedbackProduct(productData);
                    $("input[name='productId']").val(productData.id);
                }
            },
            error:function(){

            }
        })
    });

    function saveStore(){
        let productCode=$("input[name='productCode']").val();
        let productName=$("input[name='productName']").val();
        let storeId=$("input[name='storeId']").val();
        let salesperson=$("input[name='salesperson']").val();
        let quantity=$("input[name='quantity']").val();
        let totalMoney=$("input[name='totalMoney']").val();
        let color=$("input[name='color']").val();
        let size=$("#productSizeSelect").val();
        let saleTime=$("input[name='saleTime']").val();
        let saleId=$("input[name='id']").val();


        if(typeof productCode=='undefined' || productCode==null|| productCode==""){

        }
        if(typeof productName=='undefined' || productName==null || productName==""){

        }
        let saleProductReq = {
            "productCode":productCode,
            "productName": productName,
            "storeId":storeId,
            "salesperson":salesperson,
            "quantity":quantity,
            "totalMoney": totalMoney,
            "color":color,
            "size":size,
            "saleTime":saleTime,
            "id":saleId
        }
        $.ajax({
            type: "POST",
            url: "/sale/saveSaleProduct",
            data: saleProductReq ,
            dataType:"json",
            success: function(data){
                $("#saleProductEdit").modal("hide");
                layer.msg('保存成功', {
                    offset: 't',
                    anim: 5,
                    icon:1,
                    time: 2000
                });
                loadPageList();
            }
        })
    }

    function loadPageList(){
        let pageNum=$("input[name='pageNum']").val();
        let pageSize=$("input[name='pageSize']").val();
        $.ajax({
            type: "GET",
            url: "/sale/findList",
            data: "pageNum="+pageNum+"&pageSize="+pageSize,
            dataType:"json",
            success: function(msg){
                fillDataToTable(msg.data);
                loadPage(msg.pageNum,msg.totalPage);
                console.info(msg)
            },
            error:function(){

            }
        })
    }

    function fillDataToTable(brandList){
        if(brandList!=null&&brandList.length>0){
            let tableHtml="";
            $.each(brandList,function (index,item) {
                tableHtml+="<tr>"
                    +"<td>"+(index+1)+"</td>"
                    +"<td>"+item.productCode+"</td>"
                    +"<td>"+item.productName+"</td>"
                    +"<td>"+item.color+"</td>"
                    +"<td>"+item.size+"</td>"
                    +"<td>"+item.quantity+"</td>"
                    +"<td>"+item.totalMoney+"</td>"
                    +"<td>"+item.salesperson+"</td>"
                    +"<td>"+item.storeId+"</td>"
                    +"<td>"+item.saleTime+"</td>"
                    +"<td><div class=\"btn-group\">" +
                    "<a class=\"btn btn-xs btn-default\" onclick='deleteSale("+item.id+")' href=\"javascript:void(0);\" title=\"删除\" data-toggle=\"tooltip\"><i class=\"mdi mdi-window-close\"></i></a>" +
                    "</div></td>";
            })
            $("#brandTable").empty().append(tableHtml);
        }
    }

    function deleteSale(id){
        layer.confirm('您确定要删除销售记录吗？', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                type: "DELETE",
                url: "/sale/delete",
                data: "id="+id,
                dataType:"json",
                success: function(msg){
                    layer.close(index);
                    if(200==msg.code){
                        loadPageList();
                    }
                }
            })

        });
    }

    function editSale(id){
        //查询出来信息
        $.ajax({
            type: "GET",
            url: "/sale/getSaleById",
            data: "id="+id,
            dataType:"json",
            success: function(msg){
                if(200==msg.code){
                    let saleProduct=msg.data;
                    console.info(saleProduct);
                    $("#saleProductEditLabel").text("录入销售信息");
                    $('#saleProductEdit').modal();
                    $("input[name='id']").val(saleProduct.id);
                    $("input[name='productCode']").val(saleProduct.productCode);
                    $("input[name='productName']").val(saleProduct.productName);
                    $("input[name='storeId']").val(saleProduct.storeId);
                    $("input[name='salesperson']").val(saleProduct.salesperson);
                    $("input[name='quantity']").val(saleProduct.quantity);
                    $("input[name='totalMoney']").val(saleProduct.totalMoney);
                    $("input[name='color']").val(saleProduct.color);
                    $("#productSizeSelect option[value='"+saleProduct.size+"']").attr("selected","selected");
                    $("input[name='saleTime']").val(saleProduct.saleTime);
                }
            }
        })
    }

    function loadPage(currentPage,total){
        $('#pageLimit').bootstrapPaginator({
            currentPage: currentPage,
            totalPages: total,
            size:"normal",
            bootstrapMajorVersion: 3,
            alignment:"right",
            numberOfPages:6,
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            onPageClicked: function(event, originalEvent, type, page){
                $("input[name='pageNum']").val(page);
                loadPageList();
            }

        });
    }






</script>
</body>
</html>