<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yizhiquan.stockadmin.stockadmin.dao.PoLogDao">
    <resultMap id="BaseResultMap" type="com.yizhiquan.stockadmin.stockadmin.domain.PoLog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="log_info" property="logInfo" jdbcType="VARCHAR"/>
        <result column="log_level" property="logLevel" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <insert id="insert" parameterType="com.yizhiquan.stockadmin.stockadmin.domain.PoLog">
        insert into po_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="logInfo != null" >
                log_info,
            </if>
            <if test="logLevel != null" >
                log_level,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="logInfo != null" >
                #{logInfo,jdbcType=VARCHAR},
            </if>
            <if test="logLevel != null" >
                #{logLevel,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>