<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yizhiquan.stockadmin.stockadmin.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.yizhiquan.stockadmin.stockadmin.domain.Product" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="time_to_market" property="timeToMarket" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DOUBLE" />
    <result column="sale_price" property="salePrice" jdbcType="DOUBLE" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="clothing_type" property="clothingType" jdbcType="INTEGER" />
    <result column="purchase_time" property="purchaseTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.yizhiquan.stockadmin.stockadmin.domain.Product" >
    insert into product (id, product_name, product_code, 
      brand_id, time_to_market, market_price, 
      sale_price, size, color, 
      quantity, sex, clothing_type, 
      purchase_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{brandId,jdbcType=INTEGER}, #{timeToMarket,jdbcType=VARCHAR}, #{marketPrice,jdbcType=DOUBLE}, 
      #{salePrice,jdbcType=DOUBLE}, #{size,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{sex,jdbcType=TINYINT}, #{clothingType,jdbcType=INTEGER}, 
      #{purchaseTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yizhiquan.stockadmin.stockadmin.domain.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="timeToMarket != null" >
        time_to_market,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="clothingType != null" >
        clothing_type,
      </if>
      <if test="purchaseTime != null" >
        purchase_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="timeToMarket != null" >
        #{timeToMarket,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="clothingType != null" >
        #{clothingType,jdbcType=INTEGER},
      </if>
      <if test="purchaseTime != null" >
        #{purchaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>