<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yizhiquan.stockadmin.stockadmin.dao.StoreMapper" >
  <resultMap id="BaseResultMap" type="com.yizhiquan.stockadmin.stockadmin.domain.Store" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="store_address" property="storeAddress" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="start_business_time" property="startBusinessTime" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.yizhiquan.stockadmin.stockadmin.domain.Store" >
    insert into store (id, store_name, store_address, 
      telephone, manager, start_business_time, 
      type, create_time)
    values (#{id,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, #{storeAddress,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{startBusinessTime,jdbcType=VARCHAR},
      #{type,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yizhiquan.stockadmin.stockadmin.domain.Store" >
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="storeAddress != null" >
        store_address,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="startBusinessTime != null" >
        start_business_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null" >
        #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="startBusinessTime != null" >
        #{startBusinessTime,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="selectStore" resultMap="BaseResultMap">
      SELECT
        *
      FROM
        store
  </select>
</mapper>